{
  "alpha-mainnet": {
    "your_account_name": {
      "address": "0xYOUR_WALLET_ADDRESS_HERE",
      "class_hash": "0xYOUR_CLASS_HASH_HERE",
      "deployed": true,
      "legacy": false
    }
  }
} 